<div class="main_section col-sm-12">
  <div class="container">
    <div class="chat_container">
      <div class="col-sm-3 chat_sidebar">
        <div class="row">
          <div id="custom-search-input">
            <form [formGroup]="msgFilterForm" class="form-signin" novalidate autocomplete="on">
              <div class="input-group form-group col-md-12">
                  <div class="inner-addon right-addon">
                      <i class="glyphicon glyphicon-search"></i>
                      <input type="text" class="form-control" formControlName="quickFilter" placeholder="Conversation" />
                    </div>                            
              </div>
            </form>
          </div>
          <div class="dropdown all_conversation">
            <button class="dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-weixin" aria-hidden="true"></i>
              All Conversations
              <span class="caret pull-right"></span>
            </button>
          </div>
          <div class="member_list">
            <ul class="list-unstyled" id = "border{{i}}" *ngFor="let message of messages;index as i" [style.border-color]="(message.unread != 0) ? '#4245f4' : ''">
              <li class="left clearfix" [routerLink]='["/admin/messages/read",message.mid]' (click)="refresh(message.mid,i)">
                <span class="chat-img pull-left">
                  <img [src]="serverURL+message.profile_pic" onError="this.src='assets/img/avatar5.png'" alt="User Avatar"
                    class="img-circle">
                </span>
                <div class="chat-body clearfix">
                  <div class="header_sec">
                    <strong class="primary-font username">{{message.first_name}} {{message.last_name}}</strong>
                    <strong class="pull-right">
                      {{_utils.toDateString(message.latest_date)}}</strong>
                  </div>
                  <div class="contact_sec">
                    <strong class="primary-font" [innerHTML]="_utils.stripTags(message.subject)"></strong>
                    <span  [ngClass]="{'badge pull-right': message.unread !== 0}" id="countRemove{{i}}" [style.background]="(message.unread != 0) ? '#42b9f4' : ''">{{message.unread?message.unread:''}}</span>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-sm-8 message_section">
        <div class="row">
          <div class="new_message_head">
            <div class="pull-left">
              <button [routerLink]="['/admin/messages/create']">
                <i class="fa fa-plus-square-o" aria-hidden="true"></i> New Message</button>
            </div>
          </div>
          <div class="chat_area">
            <ul class="list-unstyled">

              <li class="left clearfix" *ngFor="let reply1 of messagesData" [ngSwitch]="reply1.sent_from" >
                <div *ngSwitchCase="currentUserId" class="admin_chat">
                <span class="chat-img1 pull-right">
                  <img [src]="serverURL+reply1.profile_pic" onError="this.src='assets/img/avatar5.png'"alt="User Avatar"
                    class="img-circle">
                </span>
                <div class="chat-body1 clearfix">
                  <div class="msg_rep_box">
                    <p>You:(<small>{{_utils.toDateTimeString(reply1.createdAt)}}</small>)</p>
                    <p [innerHTML]="reply1.message" style="text-align: right;"></p>
                      <ul class="mailbox-attachments clearfix" style="text-align: right;">
                          <div *ngFor="let images of reply1.messageFiles">
                            <a download  href="{{serverURL+images.path}}"  class="mailbox-attachment-name">
                                <i class="fa fa-paperclip"></i> {{images.orgName}}
                            </a>
                          </div>
                      </ul>
                  </div>
                </div>
                </div>
                <div *ngSwitchDefault >
                <span class="chat-img1 pull-left">
                  <img [src]="serverURL+reply1.profile_pic" onError="this.src='assets/img/avatar5.png'" alt="User Avatar"
                    class="img-circle">
                </span>
                <div class="chat-body2 clearfix">
                  <div class="msg_rep_box">
                      <p>{{reply1.first_name}} {{reply1.last_name}}: (<small>{{_utils.toDateTimeString(reply1.createdAt)}})</small></p>
                    <p  [innerHTML]="reply1.message"></p>
                    <ul class="mailbox-attachments clearfix">
                        <p *ngFor="let images of reply1.messageFiles">
                          <a download  href="{{serverURL+images.path}}"  class="mailbox-attachment-name">
                              <i class="fa fa-paperclip"></i> {{images.orgName}}
                          </a>
                        </p>
                      </ul>
                  </div>
                </div>
                </div>
              </li>
              
              <li class="left clearfix admin_chat" *ngFor="let reply of messagesData3">
                <div class="admin_chat">
                  <span class="chat-img1 pull-right">
                    <img [src]="avatar" onError="this.src='assets/img/avatar5.png'" alt="User Avatar" class="img-circle">
                  </span>
                  <div class="chat-body1 clearfix">
                    <div class="msg_rep_box">
                        <p>you:(<small>{{_utils.toDateTimeString(reply.createdAt)}}</small>)</p>
                        <p [innerHTML]="reply.msg" style="text-align: right;"></p>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div class="message_write" *ngIf='id'>
            <app-admin-messages-form-reply (notify)="onNotify($event)"></app-admin-messages-form-reply>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div
  infiniteScroll
  [infiniteScrollDistance]="2"
  [infiniteScrollThrottle]="1000"
  (scrolled)="onScroll()">
</div>


<div *ngIf="!finished">
    Loading more movies...
</div>


<div *ngIf="finished">
    End of database... That's all folks!
</div>